.contacts-list {
  @include list-reset;

  @media (max-width: $mobile-width-max) {
    max-width: 287px;
  }
}

.contacts-list__item {
  font-family: $font-stack-pt-mono;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: $secondary-trasporant-50;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-list__link {
  
  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    color: $secondary;
  }
}
