.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-header;
}

.page-header__container {
  max-width: 1495px;
  padding-top: 33px;
  padding-bottom: 33px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width-max) {
    max-width: 768px;
    padding-top: 18px;
    padding-right: 11px;
    padding-bottom: 20px;
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 90%;
    padding: 0;
    padding-top: 5px;
  }
}

.page-header__logo {
  margin-right: auto;

  @media (max-width: $mobile-width-max) {
    width: 38px;
    height: 38px;
  }
}

.page-header__button {
  color: $basic-white;
  background-color: transparent;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
