.page-footer {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 82%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $gray-border;
  }

  @media (max-width: $tablet-width-max) {

    &::before {
      top: 87%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 21%;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $gray-border;
    }
  }

  @media (max-width: $mobile-width-max) {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }
}

.page-footer__container {
  display: grid;
  grid-template-areas:
    "links structure"
    "rights rights";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto;
  max-width: 1493px;
  padding-top: 65px;
  padding-bottom: 14px;

  @media (max-width: $tablet-width-max) {
    grid-template-areas:
      "links"
      "structure"
      "rights";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    row-gap: 20px;
    column-gap: 20px;
    max-width: 768px;
    padding-top: 19px;
    padding-left: 25px;
    padding-right: 22px;
  }

  @media (max-width: $mobile-width-max) {
    display: block;
    max-width: 320px;
    padding: 46px 15px 15px;
  }
}
