.rights {
  padding-top: 14px;
  grid-area: rights;

  @media (max-width: $tablet-width-max) {
    padding-top: 22px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 18px;
  }
}

.rights__list {
  @include list-reset;
  display: flex;
  justify-content: flex-start;

  @media (max-width: $mobile-width-max) {
    display: block;
  }
}

.rights__item {
  margin-right: 10%;
  font-family: $font-stack-pt-mono;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  color: $secondary-trasporant-50;
  text-transform: uppercase;

  &:first-child {
    margin-right: 5%;
  }

  &:last-child {
    margin-left: auto;
    margin-right: 0;
  }

  @media (max-width: $tablet-width-max) {

    &--all-rights,
    &--company {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-right: 0;

    &:last-child {
      margin-top: 20px;
    }
  }
}

.rights__item a {
  font-family: $font-stack-pt-mono;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  color: $secondary-trasporant-50;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    color: $secondary;
  }
}
