.sections-list {
  @include list-reset;
  display: flex;
  column-gap: 70px;
  flex-wrap: wrap;
  max-height: 122px;
  flex-direction: column;
  margin-right: 214px;

  @media (max-width: $tablet-width-max) {
    max-height: unset;
    margin-right: 0;
  }
}

.sections-list__link {

  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    color: $secondary;
  }
}
