.site-structure {
  display: flex;
  justify-content: space-between;
  grid-area: structure;
  padding-bottom: 55px;

  @media (max-width: $tablet-width-max) {
    justify-content: start;
    padding-bottom: 16px;
  }
}

.site-structure__sections {

  @media (max-width: $tablet-width-max) {
    margin-right: 142px;
  }
}


.site-structure h3 {
  margin: 0;
  margin-bottom: 29px;
  font-family: $font-stack-roboto;
  font-size: 15px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 25px;
  }
}

.site-structure a {
  font-family: $font-stack-pt-mono;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: $secondary-trasporant-50;
}
